<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--Agrega un botón de retroceso-->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Hoja de Vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <img src="assets/img/yo.jpg" class="img" />
  <ion-card>
    <ion-item color="primary">
      <ion-card-title>
        <ion-icon name="newspaper"></ion-icon>
        Datos Personales
      </ion-card-title>
    </ion-item>
    <ion-card-content>
      <p>
        <b>Names:</b> Luiggy Anthony Romo Leroux Pereddo <br>
        <b>Dni:</b> 0954643623 <br>
        <b>Date:</b> 09/9/1997 <br>
        <b>Email:</b> luiggy.rperedo@ug.edu.ec <br>
        <b>Address:</b> Cdla. Bellavista Mz.13 V.9
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary"> 
      <ion-card-title>
        <ion-icon name="business"></ion-icon>
        Experiencia Laboral
      </ion-card-title>
    </ion-item>
    <ion-card-content>
      <p>
        <b>Company:</b> Corporación la Favorita <br>
        <b>Ocupation:</b> Cajero <br>
        <b>Time:</b> 3 años
      </p>
      <hr color="DeepSkyBlue" size=3>
      <p>
        <b>Company:</b> R3PCNET <br>
        <b>Ocupation:</b> Técnico Informático <br>
        <b>Time:</b> 9 años
      </p>
    </ion-card-content>
  </ion-card>

      <ion-card>
        <ion-item color="primary">
          <ion-card-title>
            <ion-icon name="school-sharp"></ion-icon>
            Estudios Realizados
          </ion-card-title>
        </ion-item>
        <ion-card-content>
          <p>
            <b>Primary:</b> Unidad Educativa "Julio Maria Matovelle" <br>
            <b>City:</b> Guayaquil <br>
            <b>Year:</b> 2006 - 2011
          </p>
          <hr color="DeepSkyBlue" size=3 >
          <p>
            <b>Secondary:</b> Unidad Educativa "Julio Maria Matovelle" <br>
            <b>City:</b> Guayaquil <br>
            <b>Year:</b> 2011-2016 <br>
            <b>Bachelor:</b> Aplicaciones Informáticas
          </p>
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-item color="primary">
      <ion-card-title>
        <ion-icon name="language-sharp"></ion-icon>
        Idiomas
      </ion-card-title>
    </ion-item>
    <ion-card-content>
      <p>
        <b>Español</b> <ion-progress-bar value="100"></ion-progress-bar>
        <b>Ingles</b> <ion-progress-bar value="0.5"></ion-progress-bar> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-card-title>
        <ion-icon name="people"></ion-icon>
        Referencias
      </ion-card-title>
    </ion-item>
    <ion-card-content>
      <p>
        <b>Names:</b> Ronny Ricardo Romo Leroux <br>
        <b>Company:</b> R3PCNET <br>
        <b>Ocupation:</b> Ing. en Redes y Telecomunicaciones<br>
        <b>Cell:</b> 0954643623
      </p>
      <hr color="DeepSkyBlue" size=3 >
      <p>
        <b>Names:</b> Olmedo Bolivar Romo Leroux <br>
        <b>Company:</b> Romo Leroux & Asociados <br>
        <b>Ocupation:</b> Abogado<br>
        <b>Cell:</b> 0985102598
      </p>
</ion-card-content>
</ion-card>
</ion-content>